* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 0.5px dotted pink; */
  font-family: sans-serif;
}
html {
  min-height: 100%;
}
body {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  background-color: rgb(19, 81, 92);
  color: whitesmoke;
  border-radius: 15px;
  border: 0.5px solid lemonchiffon;
}
h1 {
  margin-top: 30px;
  color: goldenrod;
  text-align: center;
}
#players-area {
  margin-bottom: 20px;
  display: flex;
}
#players-area p {
  margin: 10px;
}
#options {
  display: flex;
  justify-content: flex-end;
}
p.lead {
  font-weight: bold;
}
#board {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border-top: 0.5px solid whitesmoke;
  text-align: center;
}

.cards {
  position: relative;
  height: 100px;
  width: 180px;
  padding: 10px;
}
.card {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 180px;
  padding: 10px;
  background-color: lemonchiffon;
  opacity: 0.5;
  color: black;
  border: 1px solid black;
  border-radius: 15px;
  /* top: var(--space-sm); */
  /* transform-origin: center top; */
}
#draw-pile,
#discard-pile {
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
  padding: 10px;
  height: 130px;
  /* border-top: 0.5px solid whitesmoke; */
}
#merchant-ships {
  padding: 10px;
  margin-bottom: 20px;
  height: 370px;
  border-top: 0.5px solid whitesmoke;
  border-bottom: 0.5px solid whitesmoke;
}
#actions {
  padding: 10px;
  height: 175px;
}
.field {
  width: 100px;
  margin-top: 20px;
  height: 120px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(37, 53, 49);
  display: inline-block;
  vertical-align: top;
}
.player-cards {
  display: flex;
  justify-content: space-evenly;
}
.player-action {
}
.hand {
  width: 100px;
  margin-top: 20px;
  height: 120px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  background-color: blue;
  /* display: inline-block; */
  /* vertical-align: top; */
}
.hand p {
}
.player-choose {
  background-color: coral;
}
.merchant {
  background-color: darkorange;
}
.pirate {
  background-color: red;
}
.Purple {
  background-color: indigo;
}
.Green {
  background-color: green;
}
.Blue {
  background-color: dodgerblue;
}
.Gold {
  background-color: goldenrod;
}
.admiral {
  background-color: maroon;
}
span {
  color: greenyellow;
  font-weight: bold;
}

/* utility classes */
.opaque-white {
  background-color: white;
  opacity: 0.1;
}
