<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='game.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loot!</title>
  </head>
  <body>
    <h1>Let's Play</h1>
    <div id="players-area">
      <div id="players">
        {% for player in players %}
        <p class="lead">
          {{ player.name }} {% if player.isTurn == True %}
          <span>Turn to Play</span>
          {% endif %}
        </p>
        {% endfor %}
      </div>
      <div id="options">
        <a id="shuffle-button" href="/shuffle"
          ><button>Shuffle Draw Pile</button></a
        >
      </div>
    </div>
    <div id="board">
      <div id="draw-pile">
        <p>Draw</p>
        <div class="cards">
          {% for card in draw_pile %}
          <div class="card">{{ card.card_type }}</div>
          {% endfor %}
        </div>
      </div>
      <div id="discard-pile">
        <p>Discard</p>
        <div class="cards">
          <div class="card">{ card.card_type }</div>
        </div>
      </div>
      <div id="merchant-ships">merchant ships</div>
      <div id="actions">
        <h4>Actions</h4>
        <div class="player-cards">
          {% for player in players %} {% if player.isTurn == True %} {% for card
          in player.hand %}
          <div class="hand">
            <form action="/player_action" method="POST">
              <p class="card-type">{{ card.card_type }}</p>
              {% if card.card_type == "Merchant Ship" %}
              <p class="card-rank">{{ card.rank }} - Gold</p>
              {% endif %} {% if card.card_type == "Pirate Ship" %}
              <p class="card-rank">{{ card.rank }} - {{ card.color }}</p>
              {% endif %}
              <input type="hidden" />
            </form>
          </div>
          {% endfor %} {% endif %} {% endfor %}
        </div>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='game.js') }}"
    ></script>
  </body>
</html>
